@media (max-width: 768px) {
    .characterTitle {
        font-family: 'AmericanCaptain';
        font-size: 1rem;
        font-weight: normal;
    }
}

.characterTitle {
    font-family: 'AmericanCaptain';
    font-size: 2rem;
    font-weight: normal;
}

.characterProfileTitle {
    font-family: 'AmericanCaptain';
    font-size: 3rem;
    font-weight: normal;
}


.characterGrid {
    display: flex;
    flex-direction: row;
    flex: 5;
    justify-content: center;
    width: 1200px;
    margin: auto;
}

.characterRow {
    display: flex;
    flex-direction: column;
    flex: 5;
}

.characterTile {
    margin: 1rem;
    user-select: none;
    border-radius: 0.7rem;
    border: 1px solid #f7f7f7;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background: linear-gradient(135deg, #fff, #fafafa);
    padding: 0 2rem 2rem;
    transition: box-shadow 0.3s ease-in-out;
}

.characterTile:hover {
    box-shadow: 0px 0px 5px 2px #3498db;
    cursor: pointer;
}


.characterPage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.characterProfile {
    width: 768px;
    margin: 1rem;
    user-select: none;
    border-radius: 0.7rem;
    border: 1px solid #f7f7f7;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background: linear-gradient(135deg, #fff, #fafafa);
    padding: 0 2rem 2rem;
    transition: box-shadow 0.3s ease-in-out;
}
