@media (max-width: 768px) {
    .characterTitle {
        font-family: 'AmericanCaptain';
        font-size: 1rem;
        font-weight: normal;
    }
}

.characterTitle {
    font-family: 'AmericanCaptain';
    font-size: 2rem;
    font-weight: normal;
}

.characterGrid {
    display: flex;
    flex-direction: row;
    flex: 5;
    justify-content: center;
    width: 1200px;
    margin: auto;
}

.characterRow {
    display: flex;
    flex-direction: column;
    flex: 5;
}

.characterTile {
    flex-flow: column nowrap;
    display: flex;
    flex: 4;
    margin: 1rem;
    user-select: none;
    padding: 0 2rem 2rem;
    transition: box-shadow 0.3s ease-in-out;
}

.characterTile:hover {
    box-shadow: 0px 0px 5px 2px #3498db;
    cursor: pointer;
}

.loadingSpinner {
    width: 200px;
    height: 200px;
}

@keyframes loadingSpinner {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}