.appHeader {
    padding-right: 10px;
    color: white;
    text-align: center;
}

.appTitle {
    font-family: "AmericanCaptain";
    font-weight: normal;
    font-size: 3rem;
    text-align: center;
}
