@font-face {
  font-family: 'AmericanCaptain';
  src: local('AmericanCaptain'), url(./fonts/AmericanCaptain.otf) format('woff');
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  color: #ffffff;
}
